{% extends 'base.html' %}
{% block title %}
  Image Recognition
{% endblock %}

{% block style %}
  <style>
    .img-responsive {
      max-width: 100%;
      height: auto;
      display: block;
    }
  </style>
{% endblock %}
{% block body %}
  <div>
    <h1>
      Images ({{ images|length }})
    </h1>
    <div class="ui container three column grid">
      {% for image in images %}
        <div class="column">
          <div class="ui segment">
            <img class="img-responsive" src="{{ image.src }}" alt="image">
            <p>{{ image.name }}</p>
          </div>
        </div>
      {% else %}
        <div>
         <p>No images</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
